﻿@page
@model InstaNet.Web.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="column-container content-container" style="width: 100%; margin: auto; max-width: 350px">
    <form method="post">
        <h1 style="text-align: center; color: #3A1156;font-size: 30px; margin-bottom: 50px">Instagram-Ecole hexagone</h1>
        <div class="form-group">
            <label asp-for="LoginViewModel.Email"></label>
            <input asp-for="LoginViewModel.Email" placeholder="Email" />
        </div>

        <div class="form-group">
            <label asp-for="LoginViewModel.Password"></label>
            <input asp-for="LoginViewModel.Password" placeholder="Password" />
        </div>

        
    <head>
            <style>
                input[type=submit] {
                    background-color: #F9CD03;
                    border: none;
                    color: #3A1156;
                    padding: 16px 32px;
                    text-decoration: none;
                    margin: 4px 2px;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: bold;
                }
            </style>
     </head>

    <input class="click-link" type="submit" value="Login" />

        <div class="errors" asp-validation-summary="All"></div>
    </form>

    <hr />

    <a  asp-page="/Account/Register" class="click-link" style="text-align: center; padding: 10px">créer un nouveau compte </a>
</div>

