﻿
@using Microsoft.AspNetCore.Identity
@using InstaNet.DataAccess.Identity
@using InstaNet.DataAccess.Data

@inject RepositoryContext repositoryContext;
@inject UserManager<ApplicationUser> UserManager

@{ ApplicationUser CurrentProfil = null;

                if (User.Identity.IsAuthenticated)
                {
                    CurrentProfil = await UserManager.FindByNameAsync(User.Identity.Name);
                }

                var Suggestions = this.repositoryContext.Profiles.OrderBy(x => Guid.NewGuid()).Take(5).ToList(); }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/css/Main.css" />

    <title>Instagram-Ecole hexagone</title>

</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <a asp-page="/Index"><img src="~/images/Logo.png" alt="LOGO" height="30" width="42" /></a>
            </div>

            <div class="branding">
                <a asp-page="/Index"><h1>Instagram-Ecole hexagone</h1></a>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
<div class="searchbar">
    <input style="text-align: center;" type="text" placeholder="Search" />
</div>

                <div class="profil">
                    <div class="row-container">
                        <img src="~/Images/Explorer.png" alt="Explorer" height="36" width="40" />
                        <img src="~/images/Notification.png" alt="Notification" height="32" width="40" />
                        <a asp-page="/Account/Profile" asp-route-id="@CurrentProfil.ProfileId"><img src="~/images/User.png" alt="User" height="34" width="40" /></a>
                    </div>
                </div>            }
        </div>
    </header>

    <div class="main-container row-container">

        @if (User.Identity.IsAuthenticated)
        {
<div class="side-bar">
    <div class="side-container column-container">
        <div class="row-container">
            <a asp-page="/Account/Profile" asp-route-id="@CurrentProfil.Profile.Id"><img src="data:image;base64, @System.Convert.ToBase64String(CurrentProfil.Profile.Image)" height="45" width="45" style="border-radius: 50px; margin: 3px; margin-left: 10px" /></a>
            <a asp-page="/Account/Profile" asp-route-id="@CurrentProfil.Profile.Id" style="margin-top: 18px; margin-left: 12px; font-weight: bold;">@CurrentProfil.Profile.UserName</a>
        </div>

        <div class="row-container" style="margin-top: 10px">
            <p style="margin-right: 15px;"><strong>@CurrentProfil.Profile.Posts.Count</strong> posts</p>
            <p style="margin-right: 15px;"><strong>@CurrentProfil.Profile.Followers.Count</strong> followers</p>
            <p><strong>@CurrentProfil.Profile.Following.Count</strong> following</p>
        </div>
    </div>
</div>}

        <div class="column-container" style="width: 100%;">
            @RenderBody()
        </div>

        @if (User.Identity.IsAuthenticated)
        {
<div class="side-bar">
    <div class="side-container">

        <h1 class="bubble">Stories</h1>

        <div class="column-container" style="margin-top: 15px">
            <p>stories </p>
        </div>
    </div>

    <div class="side-container">

        <h1 class="bubble">Suggestions For You</h1>

        <div class="column-container" style="margin-top: 15px">
            @foreach (var user in Suggestions)
            {
<a asp-page="/Account/Profile" asp-route-id="@user.Id" class="click-link">@user.UserName</a>}
        </div>
    </div>
</div>}

    </div>

    <footer>
        <a href=""><strong>© 2021 khaloui wajdi. All rights reserved.</strong></a>
        
        <a href=""><strong>Github</strong></a>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/JavaScript.js"></script>
</body>
</html>